{% load blog_filters %}
<li>
    <div class="comment border d-flex">
        <div class="comment-votes-container">
            {% if request.user.is_authenticated %}
            <i class="bi bi-arrow-up-square"></i>
            {% endif %}
            {{comment.votes|intcompact}}
            {% if request.user.is_authenticated %}
            <i class="bi bi-arrow-down-square"></i>
            {% endif %}
        </div>
        <div>
            <div class="comment-header">
                By {{comment.commenter.username}} on {{comment.created_on}}
            </div>
            <div class="comment-text">
                {{comment.text}}
            </div>
        </div>
    </div>
</li>