{% load blog_filters %}
{% load blog_tags %}
<li>
    <div class="comment border d-flex">
        <div class="comment-votes-container">
            {% if request.user.is_authenticated and request.user != comment.commenter %}
                <form method="POST" action="{% url 'blog:comment_vote' comment.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="upvote">
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <button class="btn-blank">
                        <i class="bi bi-arrow-up-square{% if comment|upvoted:request.user %}-fill{% endif %}"></i>
                    </button>
                </form>
            {% else %}
                <i class="bi bi-arrow-up-square vote-disabled"></i>
            {% endif %}
            {{comment.get_votes|intcompact}}
            {% if request.user.is_authenticated and request.user != comment.commenter %}
            <form method="POST" action="{% url 'blog:comment_vote' comment.id %}">
                {% csrf_token %}
                <input type="hidden" name="type" value="downvote">
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button class="btn-blank">
                    <i class="bi bi-arrow-down-square{% if comment|downvoted:request.user %}-fill{% endif %}"></i>
                </button>
            </form>
            {% else %}
                <i class="bi bi-arrow-down-square vote-disabled"></i>
            {% endif %}
        </div>
        <div>
            <div class="comment-header">
                By <a href="{% url 'blog:user_detail' comment.commenter.author.slug %}">{{comment.commenter.username}}</a> on {{comment.created_on}}
                <span>
                    {% if user|can_edit:comment %}<a href="{% url 'blog:comment_edit' comment.pk %}?next={{ request.get_full_path|urlencode }}">Edit</a>{% endif %}
                    {% if user|can_delete:comment %}<a href="{% url 'blog:comment_delete' comment.pk %}?next={{ request.get_full_path|urlencode }}"> Delete</a>{% endif %}
                </span>
            </div>
            <div class="comment-text">
                {% markdown comment.text %}
            </div>
            
        </div>
    </div>
</li>