.post-card-list {
    align-content: initial;
    vertical-align: initial;
}

.post-card {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 300px;
    height: 400px;
}

.post-card a{
    white-space: nowrap;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}    

.post-card-image {
    background-position: center;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #868e96;
}

.post-content {
    margin-top: 10px;
}

.form-window {
    max-width: 450px;
    margin: 20px auto;
}

.form-window-wide {
    max-width: 800px;
}

.post-header-image {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.post-author-blurb {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments-list {
    list-style: none;
    padding: 0;
}

.comment {
    margin: 5px 0px 5px 0px;
    padding: 4px;
}

.comment-votes-container {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.tags-list-item {
    padding: 2px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    text-overflow: ellipsis;
}

.vote-disabled {
    color: #777;
}

.btn-blank {
    border: none;
    outline: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

.comment-notification-unseen {
    font-weight: bold;
}

.message{
    border-radius: 25px;
    min-width: 20%;
    max-width: 80%;
}

.message.message-sent{
    float: right;
}

.message.message-sent .message-header{
    float: right;
}

.message.message-reply{
    float: left;
}