
{% extends 'blog/base/page_base.html' %}

{% block title %}
    {{author.user.username}}
{% endblock title %}

{% block content %}
    <div class="">
        <div class="clearfix mb-2 mt-2">
            <h3 class="d-inline">{{author.user.username}}</h3>
            <span class="user-controls float-end">
                {% if author.visible %}
                    <a class="btn btn-primary" href="{% url 'blog:user_detail' author.slug %}">View profile</a>
                {% endif %}
            </span>
        </div>
        
        {{author.bio}}
    </div>
    {% include 'blog/base/post_list_base.html' %}
{% endblock content %}
