{% extends 'blog/base/page_base.html' %}

{% block title %}
    Delete - {{comment.text}}
{% endblock title %}

{% block content %}
    <div>
        <div>
            {% include 'blog/base/comment_base.html'%}
        </div>
        <span class="float-end">
            
            <form method="post" action="{% url 'blog:comment_delete' comment.id %}">
                {% csrf_token %}
                {% if next %}<input type="hidden" name="next" value="{{ next|urlencode }}" />{% endif %}
                
                <input type="submit" class="btn btn-danger" value="Delete">
                <a class="btn btn-primary" href="{{ next|urlencode }}">Cancel</a>
            </form>
            
        </span>
    </div>   
{% endblock content %}