{% extends 'blog/base/page_base.html' %}

{% block title %}
    {% if comment %}Edit{% else %}Submit{% endif %} comment - {{post.title}}
{% endblock title %}
    
{% block content %}
<div class="form-window form-window-wide">
    <form method="post" >
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next|urlencode }}" />{% endif %}
        <div class="mb-3">
            <label class="form-label" for="{{form.text.name}}">
                {% if comment %} Update your {% else %} Enter a {% endif %}
                comment for <a href="{% url 'blog:author_detail' post.author.slug %}">{{post.author.user.username}}'s</a> post: 
                <a href="{% url 'blog:post_detail' post.pk %}">{{post.title}}</a>
            </label>
            <textarea id="content" rows="10" class="form-control{%if form.text.errors%} is-invalid{%endif%} markdown-editor" aria-label="With textarea" name="{{form.text.name}}">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
            <div class="form-text">Format with markdown</div>
            <div class="invalid-feedback">
                {% for error in form.text.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="mb-2">
            <div id="content-preview" class="border p-2"></div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary float-end">{% if comment %}Edit{% else %}Submit{% endif %}</button>
        </div>
    </form>
</div>
{% endblock content %}
    