{% extends 'blog/base/page_base.html' %}
{% load blog_filters %}
{% load blog_tags %}

{% block title %}
    Notifications
{% endblock title %}

{% block content %}
    <div class="notification-container mt-2">
        <ul class="list-group">
            {% for notification in notification_list %}
                <li class="list-group-item">{% inline_notification notification %}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="mt-2">
        {% include 'blog/base/pagination_base.html' %}
    </div>
    
{% endblock content %}