{% if is_paginated %}

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    
    {% if page_obj.number|add:"-3" in page_obj.paginator.page_range %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number|add:'-3' }}">{{ page_obj.number|add:"-3" }}</a>
    </li>
    {% endif %}
    {% if page_obj.number|add:"-2" in page_obj.paginator.page_range %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number|add:'-2' }}">{{ page_obj.number|add:"-2" }}</a>
    </li>
    {% endif %}
    {% if page_obj.number|add:"-1" in page_obj.paginator.page_range %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:"-1" }}</a>
    </li>
    {% endif %}
    <li class="page-item active">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number }}">{{ page_obj.number }}</a>
    </li>
    {% if page_obj.number|add:"1" in page_obj.paginator.page_range %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:"1" }}</a>
    </li>
    {% endif %}
    {% if page_obj.number|add:"2" in page_obj.paginator.page_range %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number|add:'2' }}">{{ page_obj.number|add:"2" }}</a>
    </li>
    {% endif %}
    {% if page_obj.number|add:"3" in page_obj.paginator.page_range %}
    <li class="page-item">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.number|add:'3' }}">{{ page_obj.number|add:"3" }}</a>
    </li>
    {% endif %}
    
    {% if page_obj.has_next %}
    <li class="page-item" aria-label="Next">
        <a class="page-link" href="{% url 'blog:posts_index' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled" aria-label="Next">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
    
</ul> 
{% endif %}
    