{% extends 'blog/base.html' %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <div class="post-content">
        <h3>{{post.title}}</h3>
        <div>{{post.content}}</div>
        <div class="border post-author-blurb">
            <h5>{{post.author.user.username}}</h5>
            {{post.author.bio}}
        </div>
        <div class="text-muted fst-italic">
            Published on {{post.created_on}}
            {% if post.has_been_edited %}
                (Updated {{post.updated_on}})
            {% endif %}
        </div>
    </div> 
{% endblock content %}
    
    