{% extends 'blog/base/page_base.html' %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <div class="post-container">
        <div class="post-content">
            <h3>{{post.title}}</h3>
            <div><a href="{% url 'blog:post_edit' post.pk %}">Edit</a></div>
            {% if post.header_image %}
                <div>
                    <img class="post-header-image" src={{post.header_image.url}}></img>
                </div>
            {% endif %}
            <div>{{post.content}}</div>
            <div>
                {% for tag in post.tags.all %}
                    <a href="#">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
            <div class="border post-author-blurb">
                <a href="{{post.author.get_absolute_url}}">
                    <h5>{{post.author.user.username}}</h5>
                </a>
                {{post.author.bio}}
            </div>
            <div class="text-muted fst-italic">
                Published on {{post.created_on}}
                {% if post.has_been_edited %}
                    (Updated {{post.updated_on}})
                {% endif %}
            </div>
        </div>
        <div class='post-comment-container'>
            <h4>Top Comments: </h4>
            <ul class='comments-list'>
                {% if comments %}
                    {% for comment in comments %}
                        {% include 'blog/base/comment_base.html'%}
                    {% endfor %}
                {% endif %}
                <li class="more-comments-link"><a href="{% url 'blog:post_comment_index' post.id %}">View all comments ({{comment_count}})</a></li>   
            </ul>
            
        </div>
    </div> 
{% endblock content %}
    
    