{% extends 'blog/base/page_base.html' %}

{% block title %}
    {% if post %}
        Edit - {{post.title}}
    {% else %}
        New Post
    {% endif %}
{% endblock title %}
    
{% block content %}
<div class="form-window form-window-wide">
    <form method="POST" action="{% if post %}{% url 'blog:post_edit' post.pk %}{% else %}{% url 'blog:post_create'%}{% endif %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if images_disabled %}
            <div class="alert alert-warning">
                Image uploading is currently disabled
            </div>
        {% endif %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
        <div class="mb-3">
            <label id="title" class="form-label" for="{{form.title.name}}">Title</label>
            <input type="text" class="form-control{%if form.title.errors%} is-invalid{%endif%}" name="{{form.title.name}}" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label id="header-image" class="form-label" for="{{form.header_image.name}}">Header Image</label>
                <input type="file" class="form-control{%if form.header_image.errors%} is-invalid{%endif%}" name="{{form.header_image.name}}" accept="image/*" {% if images_disabled %}disabled{% endif %}>
                {% if post and post.get_header_image_file_name %}
                    <div class="form-text">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remove-header-image" name="{{form.remove_header_image.name}}">
                            <label class="form-check-label" for="remove-header-image">
                                Remove header image ({{post.get_header_image_file_name}})
                            </label>
                        </div>
                    </div>
                {% endif %}
                <div class="invalid-feedback">
                    {% for error in form.header_image.errors %}
                        <div>{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <label id="tags" class="form-label" for="{{form.tags.name}}">Tags</label>
                <input type="text" class="form-control{%if form.tags.errors%} is-invalid{%endif%}" name="{{form.tags.name}}" value="{% if form.tags.value %}{{ form.tags.value }}{% endif %}">
                <div class="form-text">A comma seperated list of tags</div>
                <div class="invalid-feedback">
                    {% for error in form.tags.errors %}
                        <div>{{error}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="content">Post Contents</label>
            <textarea id="content" rows="10" class="form-control{%if form.content.errors%} is-invalid{%endif%} markdown-editor" aria-label="With textarea" name="{{form.content.name}}">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
            <div class="form-text">Format with markdown</div>
            <div class="invalid-feedback">
                {% for error in form.content.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        
        <div class="mb-2">
            <div id="content-preview" class="border p-2"></div>
        </div>
        <div class="clearfix">
            <button type="submit" class="btn btn-primary float-end">{% if post %}Save{% else %}Post{% endif %}</button>
        </div>
    </form>
</div>
{% endblock content %}