{% extends 'blog/base/page_base.html' %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <div class="post-container">
        <div class="post-content">
            <h3>{{post.title}}</h3>
            <div>{{post.content}}</div>
            <div class="border post-author-blurb">
                <a href="{{post.author.get_absolute_url}}">
                    <h5>{{post.author.user.username}}</h5>
                </a>
                {{post.author.bio}}
            </div>
            <div class="text-muted fst-italic">
                Published on {{post.created_on}}
                {% if post.has_been_edited %}
                    (Updated {{post.updated_on}})
                {% endif %}
            </div>
        </div>
        <div class='post-comment-container'>
            <h4>Top Comments: </h4>
            <ul class='comments-list'>
                {% if comments %}
                    {% for comment in comments %}
                        {% include 'blog/base/comment_base.html'%}
                    {% endfor %}
                {% endif %}
                <li class="more-comments-link"><a href="#">See more comments</a></li>   
            </ul>
            
        </div>
    </div> 
{% endblock content %}
    
    