{% extends 'blog/base/page_base.html' %}
{% load blog_filters %}
{% block title %}
    {{ profile_user.username }} - Profile
{% endblock title %}

{% block content %}
    <div class="clearfix mb-2 mt-2">
        <h3 class="d-inline">{{profile_user.username}}</h3>
        <span class="user-controls float-end">
            {% if user|can_edit:profile_user.author %}
                    <a class="btn btn-primary" href="{% url 'blog:user_edit' profile_user.author.slug %}">Edit</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'notifications:privatemessage_user_detail' profile_user.id %}">Message</a>
            {% if profile_user.author.visible %}
                <a class="btn btn-primary" href="{% url 'blog:author_detail' profile_user.author.slug %}">View blog</a>
            {% endif %}
        </span>
    </div>
    <ul class='comments-list'>
        {% if comments %}
            {% for comment in comments %}
                {% include 'blog/base/comment_base.html'%}
            {% endfor %}
        {% endif %} 
    </ul>
    {% include 'blog/base/pagination_base.html' %}
{% endblock content %}