{% extends 'blog/base/page_base.html' %}
{% load blog_filters %}

{% block title %}
    Settings
{% endblock title %}
    
{% block content %}
<div class="form-window">
    {% if saved %}
    <div class="alert alert-success" role="alert">
        Settings Saved!
    </div>
    {% endif %}
    <form method="post" action="{% url 'blog:user_edit' slug=author.slug%}">
        {% csrf_token %}
        {% for error in user_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
        {% for error in author_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
        {% if can_edit_author %}
        <h3>Blog Settings</h3>
        <div class="mb-3">
            <label id="bio" class="form-label" for="{{author_form.bio.name}}">Bio</label>
            <textarea rows="10" class="form-control{%if author_form.bio.errors%} is-invalid{%endif%}" aria-label="With textarea" name="{{author_form.bio.name}}">{% if author_form.bio.value %}{{ author_form.bio.value }}{% endif %}</textarea>
            <div class="invalid-feedback">
                {% for error in author_form.bio.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        {% if user|can_edit:author and user != author.user %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" {% if author_form.author_enabled.value %}checked{% endif %} id="author-enabled" name="{{author_form.author_enabled.name}}">
                <label class="form-check-label" for="{{author_form.author_enabled.name}}">
                    Make this user a blog author
                </label>
            </div>
        {%endif%}
        {% if user.is_staff and user != author.user %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" {% if author_form.moderator.value %}checked{% endif %} id="moderator" name="{{author_form.moderator.name}}">
                <label class="form-check-label" for="{{author_form.moderator.name}}">
                    Allow this user change other users author status
                </label>
            </div>
        {%endif%}
        {% endif %}
        {% if can_edit_user %}
        <h3>Security Settings</h3>
        <div class="mb-3">
            <label id="current-password" class="form-label" for="{{user_form.current_password.name}}">Current Password</label>
            <input type="password" class="form-control{%if user_form.current_password.errors%} is-invalid{%endif%}" name="{{user_form.current_password.name}}">
            <div class="form-text">Required to change your email or password</div>
            <div class="invalid-feedback">
                {% for error in user_form.current_password.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <label id="email" class="form-label" for="{{user_form.email.name}}">Email</label>
            <input type="email" class="form-control{%if user_form.email.errors%} is-invalid{%endif%}" name="{{user_form.email.name}}" value="{% if user_form.email.value %}{{ user_form.email.value }}{% endif %}">
            <div class="invalid-feedback">
                {% for error in user_form.email.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <label id="password" class="form-label" for="{{user_form.password.name}}">New Password</label>
            <input type="password" class="form-control{%if user_form.password.errors%} is-invalid{%endif%}" name="{{user_form.password.name}}">
            <div class="invalid-feedback">
                {% for error in user_form.password.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <label id="confirm-password" class="form-label" for="{{user_form.confirm_password.name}}">Confirm New Password</label>
            <input type="password" class="form-control{%if user_form.confirm_password.errors%} is-invalid{%endif%}" name="{{user_form.confirm_password.name}}">
            <div class="invalid-feedback">
                {% for error in user_form.confirm_password.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        
        {% endif %}
        <div>
            <button type="submit" class="btn btn-primary float-end">Apply</button>
        </div>
    </form>
</div>
{% endblock content %}
    