{% extends 'blog/base/page_base.html' %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}
<div class="form-window">
    <form method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
        <div class="mb-3">
            <label id="email" class="form-label" for="{{form.email.name}}">Email</label>
            <input type="text" class="form-control{%if form.email.errors%} is-invalid{%endif%}" name="{{form.email.name}}" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            </div>
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary float-end">Reset Password</button>
        </div>
        
    </form>
</div>
{% endblock content %}
    