<div>
    <div class="comment-notification{% if not notification.seen %} comment-notification-unseen{% endif %}">
        <a href="{{ privatemessage.get_sender_messages_url }}">New message from {{privatemessage.get_sender_name}}</a>
        <span class="float-end text-muted">
            {{notification.created_on|timesince}} ago
            <form class="d-inline" method="POST" action="{% url 'notifications:notification_delete' notification.id %}">
                {% csrf_token %}
                <button type="submit" title="Dismiss" class="btn-blank"><i class="bi bi-x-lg ms-2"></i></button>
            </form>
        </span>
    </div>
    <div>{{privatemessage.text|truncatechars:250}}</div>
</div>
