{% extends 'blog/base/page_base.html' %}

{% block title %}
    Private Messages
{% endblock title %}

{% block content %}

    <div class="clearfix mb-2 mt-2">
        <h3 class="d-inline">
            Messages with 
            {% if profile_user %}
                {{profile_user.username}}
            {% else %}
                system
            {% endif %}
        </h3>
        <span class="user-controls float-end">
            {% if profile_user %}
                <a class="btn btn-primary" href="{% url 'blog:user_detail' profile_user.author.slug %}">View profile</a>
            {% endif %}  
        </span>
    </div>
    
    <div class="border p-2">
        {% if privatemessage_list %}
            {% for message in privatemessage_list reversed %}
                <div class="clearfix">
                    <div class="message{% if message.sender == user %} message-sent{% else %} message-reply{% endif %}">
                        <div class="clearfix">
                            <span class="text-muted message-header">
                                {{message.created_on|timesince}} ago
                                {% if message.sender == user %}
                                    <a href="{% url 'notifications:privatemessage_delete' message.id %}?next={{ request.get_full_path }}" title="Delete"><i class="bi bi-trash ms-2 link-icon-btn"></i></a>
                                {% endif %}
                            </span>
                        </div>
                        <div class="message-body border p-1 m-1">{{message.text}}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-muted text-center">No messages yet.</div>
        {% endif %}
    </div>
    {% if profile_user %}
        <form class="mt-3" method="POST" action="{% url 'notifications:privatemessage_create' profile_user.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label id="content" class="form-label" for="text">Message text</label>
                <textarea rows="2" class="form-control" aria-label="With textarea" name="text"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary float-end">Send</button>
            </div>
        </form>
    {% endif %}
    <div class="mt-2">
        {% include 'blog/base/pagination_base.html' %}
    </div>
{% endblock content %}
